# ignore autoreconf files
autom4te.cache/
aclocal.m4
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/install-sh
build-aux/ltmain.sh
build-aux/missing
#build-aux/mkinstalldirs
configure
config.h.in~
libcharset/aclocal.m4
libcharset/autom4te.cache/
libcharset/build-aux/ltmain.sh
libcharset/configure
libcharset/config.h.in~
libcharset/m4/libtool.m4
libcharset/m4/ltsugar.m4
libcharset/m4/ltversion.m4
libcharset/m4/lt~obsolete.m4
m4/libtool.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
preload/autom4te.cache/
preload/aclocal.m4
preload/configure
srcm4/libtool.m4
srcm4/ltoptions.m4
srcm4/ltsugar.m4
srcm4/ltversion.m4
srcm4/lt~obsolete.m4
srclib/Makefile.in
